

.App {
  min-height: 100vh;
  background-color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}



.show-button:hover, .show-button:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

