.artist-page-main {
  width: 1090px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.no-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.artist-page-profile-img {
  height: 150px;
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 3px 3px grey;
}

.image {
  padding: 20px;
}
.artist-page-category {
  position: absolute;
  top: 10px;
  right: 10px;
}
.just-name {
  color: black;
  padding: 0;
  margin: 0;
}
.just-alias {
  color: black;
  padding: 0;
  margin: 0;
}
.artist-page-subcategory {
  padding: 0px 0px;
  margin-top: 30px;
  padding-bottom: 20px;
  font-weight: bolder;
  color: grey;
  font-size: 17px;
}
.artist-page-info {
  margin-left: 20px;
  width: 300px;
  
  color: #1e2531;
}
.artist-page-names {
  font-size: 30px;
  color: #d3d3d3;
  height: 10vh;
  padding: 10;
}
.artist-page-names {
  height: 50px;
}
.artist-page-social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  color: grey;
}
.artist-page-location {
  font-size: 16px;
  padding-bottom: 5px;
  color: grey;
}
.artist-page-availability {
  padding: 0px 0;
  font-size: 16px;
  color: grey;
}
.social-links {
  padding: 0;
  margin: 0 0 0 3px;
}

.social-logo {
  height: 20px;
  margin: 0;
  padding: 0;
}
.logo-img {
  height: 20px;
}
.social-compact {
  display: flex;
  margin: 10px 10px;
  padding: 2px;
  justify-content: flex-start;
}
.contact-compact {
  display: flex;
  margin: 10px 10px;
  height: 20px;
  padding: 2px 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.artist-phone {
  font-style: "Fira Sans", sans-serif;
}

.artist-email {
  font-size: 13px;
}

.artist-page-contact {
  display: flex;
  flex-direction: row;
}
.doble-name {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
}

.doble-name > h3 {
  margin: 0;

  padding: 0;
  color: black;
}

.alias-artist-page {
  color: grey;
}

.link-to-edit-artist {
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1.5px solid black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  z-index: 100000000;
  cursor: default;
}

.link-to-edit-artist:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: black;
  border: 1.5px solid black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
