body {
  color: white;
}

.song-frame {
  max-height: 230px;
  max-width: 320px;
  margin: 10px 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px grey;
}
.song-frame:hover {
  max-height: 230px;
  max-width: 320px;
  margin: 10px 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  transition: 0.2s ease-in;
}

.portfolio-description {
  font-size: 20px;
  font-weight: medium;
  max-width: 1000px;
  color: black;
}

.portfolio-separator {
  background-color: grey;
  width: 50%;
  height: 1px;
  max-width: 1000px;
}
.portfolio-separator-two {
  background-color: grey;
  width: 50%;
  height: 1px;
  max-width: 1000px;
  margin: 50px 0;
}

.portfolio-container {
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.artist-images {
  width: 1000px;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px grey;
}
.artist-images:hover {
  width: 1000px;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  transition: 0.2s ease-in;
}

.artist-images img {
  height: 520px;
  background-size: contain;
}

.artist-videos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.youtube-frame {
  margin: 5px 5px;
  width: 850px;
  height: 500px;
  border: 2px solid black;
  box-shadow: 5px 5px grey;
  border-radius: 20px;
}
.youtube-frame:hover {
  margin: 5px 5px;
  width: 850px;
  height: 500px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  border-radius: 20px;
  transition: 0.2s ease-in;
}


.artist-songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link-to-edit-portfolio {
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1.5px solid black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  z-index: 100000000;
}

.link-to-edit-portfolio:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: black;
  border: 1.5px solid black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
