.edit-portfolio-div{
  color: black;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}
.submit-button-edit{
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: white;
  color: black;
  border: 1px solid black;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
}

.submit-button-edit:hover{
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
  border: 1px solid black;
  bottom: 50px;
  right: 100px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.edit-description{
  display: flex;
  flex-direction: column;
}
.input-general-description{
  width: 1312px;
  height: 106px;
  
}
.edit-images{
  margin-top: 500px;
}
.edit-img-only{
  
  height: 150px;
  position: relative;
}

.edit-img-cart{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
}
.edit-img-description{
  display: flex;
  flex-direction: column;
  width: 710px;
}
.just-videos{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.edit-gallery{
  margin-top: 15px;
}
.image-edit-gallery{
  display:flex;
  align-items: center;
}
.edit-video-description{
  
  display: flex;
  flex-direction: column;
  width: 710px;
}
.edit-song-description{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 710px;
}
.add-image{
  background-color: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 35px;
}
.delete-image{
  position:absolute;
  bottom: 5px;
  right: 5px;
}

.edit-video-only{
  
  height: 150px;
  position: relative;
}

.delete-video{
  position:absolute;
  bottom: 5px;
  right: 5px;
}

.edit-video-cart{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
}

.video-edit-gallery{
  display:flex;
  align-items: center;
}


.add-video{
  background-color: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 35px;
}


.edit-song-only{
  max-height: 150px;
  max-width: 300px;
  position: relative;
}

.delete-song{
  position:absolute;
  bottom: 5px;
  right: 5px;
}

.edit-song-cart{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
}

.song-edit-gallery{
  display:flex;
  align-items: center;
  margin-bottom: 50px;
}


.add-song{
  background-color: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 35px;
  
}

.confirmation-text3{
  position: absolute;
  bottom: 100px;
  right: 50px;
  color: rgb(27, 126, 27);
  text-align:center;
  transition: 0.40s ease-in;
}


.confirmation-text4{
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  right: 50px;
  text-align:center;
}

.separatrix{
  margin: 5px 0px;
  margin-left: -10px;
  height: 1px;
  background-color: grey;
  width: 100%;
}