.artist-tag{
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
   margin: 20px 0;
   display:flex;
   position:relative;
   align-items: center;
   background-color: white;
   box-shadow: 5px 5px rgba(0, 0, 0, 0.116);
}
.artist-tag:hover{
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
   margin: 20px 0;
   display:flex;
   position:relative;
   align-items: center;
   background-color: white;
   box-shadow: 5px 5px black;
   transition: 0.15s ease-in;
}

.artist-tag>img{
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 1px 1px grey;
    margin: 5px;

}

.artist-data{
    display:flex;
    flex-direction:column;
}

.artist-data>h3 {
    margin:0;
    padding:0;
    font-size: 18px;
}

.artist-category{
    position: absolute;
    margin:0;
    padding:0;
    top: 10px;
    right: 10px;
}

.artist-subcategory{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: grey;
    font-size: 16px;
}


.artist-names>h3, .artist-names>h5{
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: black;
}

.artist-names>h5{
    color: grey;
    font-size: 18px;
}

.artist-names{
    display: flex;
    flex-direction: row;
    margin: 10 0;
    padding: 0;
    align-items: center;
}

.artist-info{
    margin-left:5px;
}

.artist-enter{
    position:absolute;
    bottom: 40%;
    right: 10px;
    bottom: 5px;
    font-size:15px;
    color: white;
    background-color: black;
    padding: 0 2px;
}

.logo-img{
    height: 25px;
    width: 25px;
}

.artist-location{
    color: grey;
    font-size: 14px;
    margin-top: 4px;
}