.navbar-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: black;
    z-index: 10000000;
 
    
}
.navbar-profile-img{
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1.5px solid grey;
    border-radius: 50%;
}

.navbar-functions{
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-around;
    z-index: 10000000;
}

.navbar-functions-logged{
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
    z-index: 10000000;
}

.navbar-logo{
    margin-left: 10px;
    z-index: 10000000;
}
.navbar-logo-link{
    z-index: 10000000;
    color: white;
}
.navbar-logo-link2{
    z-index: 10000000;
    color: white;
}

.medium-title{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    
}
.medium-title2{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    
    color: white;
    background-color: #517DFC;
}

.title-flex{
    display:flex;
    flex-direction: row;
}

.navbar-logo-link:hover{
    color: grey;
}